body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#box {
    border-style: solid;
    border-color: rgb(235, 203, 203);
    width: 250px;
    border-radius: 20px;
    text-align: center;
}