<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportar Usuario</title>
    <link href="../static/CSS/bootstrap.min.css" rel="stylesheet">
    <link href="../static/CSS/Style.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Reportar Usuario</h2>
        <form method="POST">
            <div class="form-group">
                <label for="reportDescription">Descripción del Reporte</label>
                <textarea id="reportDescription" name="reportDescription" class="form-control" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-danger">Enviar Reporte</button>
        </form>
    </div>

    <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
