body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("../Images/Easy Job.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .chat-container {
    width: 400px;
    height: 500px;
    border: 1px outset #ccc;
    border-radius: 10px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
  }
  
  .chat-header {
    background-color: #585c94;
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
  }
  
  .message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .from-client {
    background-color: #e1ffc7;
    align-self: flex-start;
  }
  
  .from-worker {
    background-color: #c7e1ff;
    align-self: flex-end;
  }
  
  .chat-input {
    background-color: #d6d6d6;
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .chat-input button {
    padding: 10px;
    margin-left: 5px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #0056b3;
  }