<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="../static/CSS/home.css">
</head>
<body>
    <header>
        <h1>Welcome to Easy Job</h1>
        <nav>
            <ul>
                <!-- NAV BAR -->
                <button>Registro</button>
                <button>Login</button>
                <button>About</button>
                <button>Help</button>
            </ul>
        </nav>
    </header>

    <main>
        <section id="about">
            <h2>About Us</h2>
            <p>We are a company focused on creating work and helping people.</p>
        </section>

        <section id="services">
            <h2>Services</h2>
            <ul>
                <li>Give Job</li>
                <li>See Jobs</li>
            </ul>
        </section>

        <section id="contact">
            <h2>Contact</h2>
            <p>You can contact us here: <a id="we" href="#">Assistant Client</a></p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Easy Job. Todos los derechos reservados.</p>
    </footer>
</body>
</html>