<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../templates/static/CSS/Style.css">
    <link rel="stylesheet" href="../templates/static/CSS/bootstrap.min.css">
</head>
<body>
    <section>
        <div class="col py-3 px-lg-5 border bg-light">

        <div class="blck-1">
            <h1>Create a Job</h1>
            <label for="description" class="des">Add a description of your job</label>
            <input type="text" id="description" class="dex" name="description" required>
            <label>Add Image(s)</label>
            <input type="image" class="imgjob" required>
        </div>  
    </section>
</div>
<div class="col py-3 px-lg-5 border bg-light">
    <section>
        <div class="blck-1">
            <button class="btn-primary">Save job</button>
        </div>
    </section>
</div>
</body>
</html>