<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/livechat.css">
    <title>Chat en Vivo</title>
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <h2>Chat en Vivo</h2>
        </div>
        <div class="chat-messages" id="messages">
            <!-- Mostrar Msj -->
        </div>
        <div class="chat-input">
            <input type="text" placeholder="Escribe tu mensaje..." id="messageInput">
            <button id="sendButton">Enviar</button>
        </div>
    </div>
</body>
</html>